/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
HTML, Body {
    height: 100%;
}
body {
	line-height: 1;
    }
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset End*/

/* Jason Hancock Folio Styles */


#pagewrap {
    border: solid 16px #ffffff;
    Background: #f2f2f2;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 100px;
    box-sizing: inherit;
    width: 800px;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

#content {
   
}

h1 {
    font-size: 100px;
    line-height: 100px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin-bottom: 40px;
}

h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 40px;
    text-transform: none;
    letter-spacing: .03em;
    text-rendering: optimizeLegibility;
}

a { 
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid rgba(34, 34, 34, 0.2);
    padding-bottom: 3px;
    
}

a:hover { 
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 3px;
    transition: border-color 170ms ease-in-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-20%);
      opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

/* Mobile styles */

@media only screen and (max-width: 480px) {
    #container {
        width: 100%;
        padding: 20px;
    }
    
    h1 {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 14px;
        line-height: 22px;
    }
    
    a {
        font-size: 14px;
    }
}
